<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Резюме">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Резюме</title>
    <link rel="stylesheet" href="css.css" media="screen">
    <link rel="stylesheet" href="Резюме.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": ""
    }</script>
    <meta name="theme-color" content="#291569">
    <meta property="og:title" content="Резюме">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
<header class="u-clearfix u-header u-header" id="sec-3d90" th:insert="blocks/header::header">
</header>
<section class="u-clearfix u-white u-section-1" id="sec-6ced">
    <div class="u-expanded-width u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-gutter-40 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-radius-14 u-shape-round u-size-60 u-white u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h2 class="u-text u-text-default u-text-1"> Резюме </h2>
                        <div class="u-expanded-width u-form u-form-1">
                            <form action="#" method="POST"
                                  class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form"
                                  style="padding: 0px;" source="email" name="form" redirect="true">
                                <div class="u-form-group u-form-name u-form-partition-factor-3 u-label-top u-form-group-1">
                                    <label for="name-4354" class="u-label">Имя</label>
                                    <input type="text" placeholder="Имя" id="name-4354" name="name"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-1"
                                           required="">
                                </div>
                                <div class="u-form-group u-form-partition-factor-3 u-label-top u-form-group-2">
                                    <label for="text-b329" class="u-form-control-hidden u-label"></label>
                                    <input type="text" id="text-b329" name="surname"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-2"
                                           placeholder="Фамилия">
                                </div>
                                <div class="u-form-email u-form-group u-form-partition-factor-3 u-label-top u-form-group-3">
                                    <label for="email-72d5" class="u-label">Email</label>
                                    <input type="email" placeholder="Enter a valid email address" id="email-72d5"
                                           name="email"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-3"
                                           required="">
                                </div>
                                <div class="u-form-group u-form-partition-factor-4 u-label-top u-form-group-4">
                                    <label for="text-50a9" class="u-label">Адрес</label>
                                    <input type="text" id="text-50a9" name="address"

                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-4">
                                </div>
                                <div class="u-form-group u-form-partition-factor-4 u-label-top u-form-group-5">
                                    <label for="text-6383" class="u-label">Номер</label>
                                    <input type="text" placeholder="+996 509 02 02 53" id="text-6383" name="phone"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-5">
                                </div>
                                <div class="u-form-group u-form-partition-factor-4 u-label-top u-form-group-6">
                                    <label for="text-fe9c" class="u-label">Language Proficiency</label>
                                    <input type="text" placeholder="" id="text-fe9c" name="langProf"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-6">
                                </div>
                                <div class="u-form-group u-form-partition-factor-4 u-label-top u-form-group-7">
                                    <label for="text-b382" class="u-label">Education</label>
                                    <input type="text" placeholder="" id="text-b382" name="education"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-7">
                                </div>
                                <div class="u-form-checkbox u-form-group u-label-top u-form-group-8">
                                    <input type="checkbox" id="checkbox-9d3e" name="hourly" value="On">
                                    <label for="checkbox-9d3e" class="u-label">Hourly rate</label>
                                </div>
                                <div class="u-form-group u-label-top u-form-group-9">
                                    <label for="text-2853" class="u-label">Skills</label>
                                    <input type="text" placeholder="" id="text-2853" name="skills"
                                           class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-8">
                                </div>
                                <div class="u-form-group u-form-message u-label-top u-form-group-10">
                                    <label for="message-94d2" class="u-label">More about you</label>
                                    <textarea placeholder="I am ..." rows="4" cols="50" id="message-94d2"
                                              name="moreInfo"
                                              class="u-border-2 u-border-white u-grey-10 u-input u-input-rectangle u-radius-14 u-input-9"
                                              required=""></textarea>
                                </div>
                                <div class="u-align-left u-form-group u-form-submit u-label-top">
                                    <a href="#"
                                       class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-base u-palette-3-base u-radius-14 u-text-body-alt-color u-btn-1">Safe</a>
                                    <input type="submit" value="submit" class="u-form-control-hidden"
                                           wfd-invisible="true">
                                </div>
                                <div class="u-form-send-error u-form-send-success" wfd-invisible="true"> Спасибо! Сохранено)
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-18cf">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
</footer>
</body>
</html>