<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Большой тест на профориентацию">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Тест</title>
    <link rel="stylesheet" href="css.css" media="screen">
    <link rel="stylesheet" href="Тест.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": ""
    }</script>
    <meta name="theme-color" content="#291569">
    <meta property="og:title" content="Тест">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode">
<header class="u-clearfix u-header u-header" id="sec-3d90" th:insert="blocks/header::header">
</header>
<section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="sec-187b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-palette-3-base u-text-1"> Большой тест на профориентацию</h2>
        <p class="u-align-center u-text u-text-2"> Большой тест на профориентацию сужает круг подходящих вам
            профессий.<br>
        </p>
        <h6 class="u-align-left u-text u-text-palette-3-base u-text-3"> В результате теста вы увидите:<span
                style="font-weight: 400;"></span>
        </h6>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-1"
                     data-image-width="737" data-image-height="1080">
                    <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                        <div class="u-container-style u-expanded-width u-gradient u-group u-group-1">
                            <div class="u-container-layout u-container-layout-2">
                                <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-4"> список
                                    профессий, которые больше всего вам подходят по желаниям и способностям</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-2"
                     data-image-width="737" data-image-height="1080">
                    <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
                        <div class="u-container-style u-expanded-width u-gradient u-group u-group-2">
                            <div class="u-container-layout u-container-layout-4">
                                <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-5">
                                    описание этих профессии и способы их получения</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-3"
                     data-image-width="737" data-image-height="1080">
                    <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5">
                        <div class="u-container-style u-expanded-width u-gradient u-group u-group-3">
                            <div class="u-container-layout u-container-layout-6">
                                <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-6">
                                    характеристики вашей личности, ваших ценностей, уровня притязаний и самооценки<br>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-image u-list-item u-repeater-item u-shading u-image-4"
                     data-image-width="1280" data-image-height="853">
                    <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-7">
                        <div class="u-container-style u-expanded-width u-gradient u-group u-group-4">
                            <div class="u-container-layout u-container-layout-8">
                                <h3 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-7">
                                    характеристики вашего интеллекта<br>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="u-align-left u-text u-text-default u-text-8">Вопросы:</h4>
        <div class="u-form u-form-1">
            <form action="#" method="POST"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                  source="custom" name="form" style="padding: 10px;" redirect="true">

                <div class="u-form-group u-form-name">
                    <label for="name-0df5" class="u-label">Имя</label>
                    <input type="text" placeholder="Введите Ваше имя" id="name-0df5" name="name"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                </div>
                <div th:each="item : ${answer}">
                    <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-2">
                        <label for="select-111e" class="u-label" th:text="${item}"></label>
                        <div class="u-form-select-wrapper">
                            <select id="select-111e" name="main"
                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                    required="required">
                                <option value="yes">yes</option>
                                <option value="no">no</option>
                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="u-form-checkbox u-form-group u-form-partition-factor-2 u-form-group-3">
                    <input type="checkbox" id="checkbox-e98a" name="checkbox" value="On" required="required">
                    <label for="checkbox-e98a" class="u-label">Флажок</label>
                </div>
                <div class="u-form-group u-form-group-4">
                    <label for="text-e2a7" class="u-label">Как вам наша платформа?</label>
                    <input type="text" id="text-e2a7" name="text"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#" class="u-btn u-btn-submit u-button-style">Узнать по скорее</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено.</div>
                <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте
                    ошибки и
                    попробуйте еще раз.
                </div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-18cf">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
</footer>
</body>
</html>